.hidden {
  visibility: hidden;
}

.app {
  padding-top: 1em;
}

.results {
  list-style: none;
  padding-left: 0em;
}

.resultItem {
  margin: 0.5em;
}

.language {
  background-color: #ccc;
  margin-right: 0.1em;
  min-width: 200px;
}

.autocomplete-menu {
  border-radius: 3px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #bbb;
  padding: 2px 0;
  font-size: 90%;
  position: fixed;
  overflow: auto;
  max-height: 50%;
  margin-top: -10px;
}

.non-highlighted-item {
  padding: 5px;
  cursor: pointer;
}
.highlighted-item {
  padding: 5px;
  background-color: #ccc;
  cursor: pointer;
}
